/* Paleta de colores */
:root {
  --verde-oscuro: #2c6b2f;
  --verde-medio: #4b9a2d;
  --verde-claro: #6dbd45;
  --verde-muy-claro: #e1f2d1;
  --texto-oscuro: #333333;
}

body {
  background-color: var(--verde-muy-claro);
  color: var(--texto-oscuro);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px; /* Tamaño de fuente más pequeño */
}

/* Encabezado */
header {
  background-color: var(--verde-oscuro);
  color: white;
  text-align: center;
  padding: 20px 15px; /* Reducción en el padding */
}

header h1 {
  margin: 0;
  font-size: 2em; /* Tamaño de fuente más pequeño */
}

header p {
  font-size: 1em; /* Tamaño de fuente más pequeño */
}

/* Navegación */
nav {
  background-color: var(--verde-medio);
  text-align: center;
  padding: 10px 15px; /* Ajuste en padding */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Reducción de margen */
  font-weight: bold;
  font-size: 1em; /* Ajuste en el tamaño de la fuente */
}

nav a:hover {
  color: var(--verde-claro);
}

/* Secciones */
.section {
  padding: 20px 15px; /* Reducción en el padding */
  margin: 15px 0; /* Reducción de márgenes */
  background-color: var(--verde-claro);
  border-radius: 8px;
}

.section h2 {
  color: var(--verde-oscuro);
  font-size: 1.5em; /* Ajuste del tamaño del título */
}

/* Entradas */
.post {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0; /* Reducción de márgenes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.post h2 {
  color: var(--verde-oscuro);
  margin-bottom: 10px;
  font-size: 1.6em; /* Ajuste en tamaño de fuente */
}

.post a {
  color: var(--verde-oscuro);
  text-decoration: none;
  font-weight: bold;
}

.post a:hover {
  color: var(--verde-claro);
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px; /* Ajuste en el margen */
}

/* Botón de desplazamiento hacia arriba */
.scroll-top {
  position: fixed;
  bottom: 25px; /* Ajuste en la posición */
  right: 25px; /* Ajuste en la posición */
  background-color: var(--verde-medio);
  color: white;
  font-size: 20px; /* Reducción en tamaño */
  padding: 8px 12px; /* Ajuste en el padding */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.scroll-top:hover {
  background-color: var(--verde-oscuro);
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: var(--verde-oscuro);
  color: white;
  font-size: 0.9em; /* Ajuste en el tamaño de la fuente */
}

/* Sección de contacto */
#contacto p {
  color: var(--verde-oscuro);
  font-size: 1em; /* Ajuste en tamaño de fuente */
}

/* Ajuste de tamaño para las imágenes en las entradas */
.post img {
  max-width: 100%;  /* Las imágenes no excederán el ancho de su contenedor */
  height: auto;     /* Mantendrá la proporción de la imagen */
  border-radius: 8px;
  margin-top: 15px;
}